<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="chart-header">
    <h2>Bubble Chart</h2>
  </div>

  <div class="example-container">
    <div class="chart-container">
      <BubbleChart @data={{this.data}} @selectedSeedColor={{this.selectedSeedColor}} />
    </div>
  </div>

  <div class="chart-controls bumper-30">
    <div class="chart-controls-panel">
      <ol>
        <li>
          <label>Data</label>
          <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedData)))}}>
           {{#each this.availableDataSets as |dataset|}}
           <option value={{dataset}} selected={{eq dataset this.selectedData}}>{{dataset}}</option>
           {{/each}}
          </select>
        </li>
        <li>
          <label>Color</label>
          <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedSeedColorName)))}}>
           {{#each this.seedColorNames as |dataset|}}
           <option value={{dataset}} selected={{eq dataset this.selectedSeedColorName}}>{{dataset}}</option>
           {{/each}}
          </select>
        </li>
      </ol>
    </div>
  </div>

  <div class="chart-json">
    <pre>
      {{this.prettyPrintedData}}
    </pre>
  </div>
</div>