<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="chart-header">
    <h2>Pie Chart</h2>
  </div>

  <div class="example-container">
    <div class="chart-container">
      <PieChart
        @maxRadius={{this.maxRadius}}
        @maxSlicePercent={{this.maxSlicePercent}}
        @minSlicePercent={{this.minSlicePercent}}
        @maxNumberOfSlices={{this.maxNumberOfSlices}}
        @selectedSeedColor={{this.selectedSeedColor}}
        @data={{this.data}}
        @labelWidthMultiplier={{this.labelWidthMultiplier}}
        @maxDecimalPlace={{this.maxDecimalPlace}}
        @includeRoundedZeroPercentSlices={{this.includeRoundedZeroPercentSlices}}
      />
    </div>
  </div>

  <div class="row bumper-30">
    <div class="col-md-6">
      <h4>Ember Bindings</h4>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-4 control-label">Data</label>
          <div class="col-lg-8" data-test="data">
            <select class="ember-select chart-data form-control" {{on 'change' (pick 'target.value' (fn (mut this.selectedData)))}}>
              {{#each this.availableDataSets as |dataset|}}
              <option value={{dataset}} selected={{eq dataset this.selectedData}}>{{dataset}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Color</label>
          <div class="col-lg-8">
            <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedSeedColorName)))}}>
             {{#each this.seedColorNames as |dataset|}}
             <option value={{dataset}} selected={{eq dataset this.selectedSeedColorName}}>{{dataset}}</option>
             {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Max Radius</label>
          <div class="col-lg-8">
            <ScrubberComponent @min="40" @max="300" @step="10" @value={{this.maxRadius}} />
            <span class="help-block">Max Radius: {{this.maxRadius}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Max Number of Slices</label>
          <div class="col-lg-8">
            <ScrubberComponent @min="1" @max="30" @step="1" @value={{this.maxNumberOfSlices}} />
            <span class="help-block">Max Number of Slices: {{this.maxNumberOfSlices}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Min Slice Percent</label>
          <div class="col-lg-8">
            <ScrubberComponent @min="0" @max="20" @step="1" @value={{this.minSlicePercent}} />
            <span class="help-block">Min Slice Percent: {{this.minSlicePercent}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Label Width Multipler</label>
          <div class="col-lg-8">
            <ScrubberComponent @min="0" @max="0.45" @step="0.05" @value={{this.labelWidthMultiplier}} />
            <span class="help-block">Label Width Multiplier: {{this.labelWidthMultiplier}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Maximum Decimal Place</label>
          <div class="col-lg-8">
            <ScrubberComponent @min="0" @max="8" @step="1" @value={{this.maxDecimalPlace}} />
            <span class="help-block">Maximum Decimal Place: {{this.maxDecimalPlace}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <div class="checkbox">
              <label>
                <Input @type="checkbox" @checked={{this.includeRoundedZeroPercentSlices}} />
                Include Rounded Zero Percent Slices
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h4>JSON Data</h4>
      <div class="chart-json">
<pre>{{this.prettyPrintedData}}</pre>
      </div>
    </div>
  </div>
</div>
