<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="chart-header">
    <h2>Scatter Plot</h2>
  </div>

  <div class="example-container">
    <div class="chart-container">
      <ScatterChart
        @dotRadius={{this.dotRadius}}
        @data={{this.data}}
        @isShowingTotal={{this.isShowingTotal}}
        @totalPointData={{this.totalPointData}}
        @selectedSeedColor={{this.selectedSeedColor}}
        @xValueDisplayName={{this.xValueDisplayName}}
        @yValueDisplayName={{this.yValueDisplayName}}
        @hasXAxisTitle={{this.hasXAxisTitle}}
        @hasYAxisTitle={{this.hasYAxisTitle}}
        @xTitleHorizontalOffset={{this.xTitleHorizontalOffset}}
        @yTitleVerticalOffset={{this.yTitleVerticalOffset}}
      />
    </div>
  </div>

  <div class="row bumper-30">
    <div class="col-md-6">
      <h4>Ember Bindings</h4>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-4 control-label">Data</label>
          <div class="col-lg-8">
            <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedData)))}}>
             {{#each this.availableDataSets as |dataset|}}
             <option value={{dataset}} selected={{eq dataset this.selectedData}}>{{dataset}}</option>
             {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Color</label>
          <div class="col-lg-8">
            <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedSeedColorName)))}}>
              {{#each this.seedColorNames as |dataset|}}
              <option value={{dataset}} selected={{eq dataset this.selectedSeedColorName}}>{{dataset}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Dot Radius</label>
          <div class="col-lg-8">
           <ScrubberComponent @min="2" @max="20" @step="1" @value={{this.dotRadius}} />
            <span class="help-block">Dot Radius: {{this.dotRadius}}</span>
          </div>
        </div>

        <AxisTitleConfig
          @hasXAxisTitle={{this.hasXAxisTitle}}
          @hasYAxisTitle={{this.hasYAxisTitle}}
          @xValueDisplayName={{this.xValueDisplayName}}
          @xTitleHorizontalOffset={{this.xTitleHorizontalOffset}}
          @yValueDisplayName={{this.yValueDisplayName}}
          @yTitleVerticalOffset={{this.yTitleVerticalOffset}}
        />

        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <div class="checkbox">
              <label>
                <Input @type="checkbox" @checked={{this.isShowingTotal}} />
                Show Portfolio Total
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h4>JSON Data</h4>
      <div class="chart-json">
        <pre>{{this.prettyPrintedData}}</pre>
      </div>
    </div>
  </div>
</div>
