<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="chart-header">
    <h2>Stacked Bar Chart</h2>
  </div>

  <div class="example-container">
    <div class="chart-container">
      <StackedVerticalBarChart
        @maxBarThickness={{this.maxBarThickness}}
        @selectedSeedColor={{this.selectedSeedColor}}
        @data={{this.data}}
        @maxLabelHeight={{this.maxLabelHeight}}
        @betweenBarPadding={{this.betweenBarPadding}}
        @hasXAxisTitle={{this.hasXAxisTitle}}
        @hasYAxisTitle={{this.hasYAxisTitle}}
        @xValueDisplayName={{this.xValueDisplayName}}
        @yValueDisplayName={{this.yValueDisplayName}}
        @xTitleHorizontalOffset={{this.xTitleHorizontalOffset}}
        @yTitleVerticalOffset={{this.yTitleVerticalOffset}}
        @strokeWidth={{this.strokeWidth}}
        @barSortKey={{this.barSortKey}}
        @barSortAscending={{this.barSortAscending}}
        @sliceSortKey={{this.sliceSortKey}}
      />
    </div>
  </div>

  <div class="row bumper-30">
    <div class="col-md-6">
      <h4>Ember Bindings</h4>

      <div class="form-horizontal">
        <div class="form-group" data-test="data">
          <label class="col-lg-4 control-label">Data</label>
          <div class="col-lg-8">
            <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedData)))}}>
              {{#each this.availableDataSets as |dataset|}}
              <option value={{dataset}} selected={{eq dataset this.selectedData}}>{{dataset}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" data-test="color">Color</label>
          <div class="col-lg-8">
            <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedSeedColorName)))}}>
              {{#each this.seedColorNames as |dataset|}}
              <option value={{dataset}} selected={{eq dataset this.selectedSeedColorName}}>{{dataset}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" data-test="bar-sorting">Slice Sort Key</label>
          <div class="col-lg-8">
            <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedSliceSortKey)))}}>
            {{#each this.sliceSortKeys as |dataset|}}
            <option value={{dataset}} selected={{eq dataset this.selectedSliceSortKey}}>{{dataset}}</option>
            {{/each}}
          </select>
        </div>
      </div>
        <div class="form-group">
          <label class="col-lg-4 control-label" data-test="bar-sorting">Bar Sort Key</label>
          <div class="col-lg-8">
            <select class="ember-select" {{on 'change' (pick 'target.value' (fn (mut this.selectedBarSortKey)))}}>
              {{#each this.barSortKeys as |dataset|}}
              <option value={{dataset}} selected={{eq dataset this.selectedBarSortKey}}>{{dataset}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <div class="checkbox">
              <label>
                <Input @type="checkbox" @checked={{this.barSortAscending}} />
                Sort Bars Ascending
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Rotated Label Height</label>
          <div class="col-lg-8">
            <ScrubberComponent @min="20" @max="100" @value={{this.maxLabelHeight}} />
            <span class="help-block">Max Label Height: {{this.maxLabelHeight}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Between Bar Padding</label>
          <div class="col-lg-8">
            <ScrubberComponent @min="0" @max="1" @step="0.05" @value={{this.betweenBarPadding}} />
            <span class="help-block">Between Bar Padding: {{this.betweenBarPadding}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Slice Outline Thickness</label>
          <div class="col-lg-8">
            <ScrubberComponent @min="0" @max="5" @step="0.1" @value={{this.strokeWidth}} />
            <span class="help-block">Slice Outline Thickness: {{this.strokeWidth}}</span>
          </div>
        </div>

        <AxisTitleConfig
          @hasXAxisTitle={{this.hasXAxisTitle}}
          @hasYAxisTitle={{this.hasYAxisTitle}}
          @xValueDisplayName={{this.xValueDisplayName}}
          @xTitleHorizontalOffset={{this.xTitleHorizontalOffset}}
          @yValueDisplayName={{this.yValueDisplayName}}
          @yTitleVerticalOffset={{this.yTitleVerticalOffset}}
        />

      </div>
    </div>

    <div class="col-md-6">
      <h4>JSON Data</h4>
      <div class="chart-json">
        <pre>{{this.prettyPrintedData}}</pre>
      </div>
    </div>
  </div>
</div>
